@page
@model SpeakersModel
@{
    ViewData["Title"] = "Speakers";
}

<div class="speaker-list">
    <h1>My Conference @System.DateTime.Now.Year</h1>

    <div class="row">
        @foreach (var speaker in Model.Speakers)
        {
            <div class="col-md-3">
                <div class="panel panel-default speaker">
                    <div class="panel-body">
                        <h3 class="panel-title"><a asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a></h3>
                        @foreach (var session in speaker.Sessions)
                        {
                            <em><a asp-page="Session" asp-route-id="@session.ID">@session.Title</a></em>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>