@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>NDC Oslo 2017</h1>

@foreach (var day in Model.Sessions)
{
    <h3 id="@day.Key.ToString().ToLowerInvariant()">@(day.Key?.ToString() ?? "No Day")</h3>
    @foreach (var timeSlot in day)
    {
        <h4>@timeSlot.Key?.ToString("HH:mm")</h4>
        <div class="row">
            @foreach (var session in timeSlot)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>@session.Track?.Name</p>
                            <h3 class="panel-title">@session.Title</h3>
                            @session.Abstract
                            <ul>
                                @foreach(var speaker in session.Speakers)
                                {
                                    <li>@speaker.Name</li>
                                }
                            </ul>
                            @if (Model.IsAdmin) 
                            {
                                <a asp-page="/Admin/Session" asp-route-id="@session.ID" class="btn btn-link btn-xs">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
