@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}

<ul class="nav nav-pills mb-3">
    @foreach (var day in Model.DayOffsets)
    {
        <li role="presentation" class="nav-item">
            <a class="nav-link @(Model.CurrentDayOffset == day.Offset ? "active" : null)" asp-route-day="@day.Offset">@day.DayofWeek?.ToString()</a>
        </li>
    }
</ul>

<div class="agenda">
    <h1>My Conference @System.DateTime.Now.Year</h1>

    @foreach (var timeSlot in Model.Sessions)
    {
        <h4>@timeSlot.Key?.ToString("HH:mm")</h4>
        <div class="row">
            @foreach (var session in timeSlot)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow session h-100">
                        <div class="card-header">@session.Track?.Name</div>
                        <div class="card-body">
                            <h5 class="card-title"><a asp-page="Session" asp-route-id="@session.Id">@session.Title</a></h5>
                        </div>
                        <div class="card-footer">
                            <ul class="list-inline mb-0">
                                @foreach (var speaker in session.Speakers)
                                {
                                    <li class="list-inline-item">
                                        <a asp-page="Speaker" asp-route-id="@speaker.Id">@speaker.Name</a>
                                    </li>
                                }
                            </ul>
                            <a asp-page="/Admin/EditSession" asp-route-id="@session.Id" class="btn btn-default btn-xs">Edit</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
